*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #153677, #4e085f );
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 400px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 20px 30px  70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.todo h1{
    font-size: 24px;
    color: #002765;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.todo h1 img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    background: #edeef0;
    justify-content: space-between;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 25px;
}
input{
     outline: none;
    flex:1;
    width: 80%;
    border: none;
    background: transparent;
    font-weight: 14px;
}
button{
    outline: none;
    padding: 16px 50px;
    background: #ff4561;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 500;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 10px 10px 10px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px; 
    left: 6px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/images/checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    color: #ff4561;
}